/*BACK BTN*/
.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 50%;
  font-size: 15pt;
  color: var(--primaryfont);
}

.back-btn:hover {
  background-color: rgb(220, 220, 220);
  transition: 0.3s;
  cursor: pointer;
}

/* RATING STYLE */
.rating {
  padding-right: 10px;
  cursor: pointer;
}
/* COUNT STYLE */
.count-wrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: max-content;
  border-radius: 10px;
  /* scale:0.5 */
}
.count-container {
  display: flex;
}
.count-container > span {
  display: flex;
  justify-content: space-between;
  width: auto;
  border-radius: 20px;
}
.count-container span > i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
.count-container span :first-child {
  background-color: rgb(224, 224, 224);
  border-radius: 20px 0 0 20px;
  color: white;
  font-size: 10pt;
}
.count-container span :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: rgba(249, 249, 249, 0.582);
  color: var(--dark-bluey);
  font-size: 15pt;
}
.count-container span :last-child {
  background-color: yellowgreen;
  border-radius: 0 20px 20px 0;
  font-size: 10pt;
}

/* SEARCH-BAR STYLE */
.search-wrapper {
  margin: 0;
  padding: 0;
}
.search-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 200px;
  height:20px;
  padding: 5px 25px;
  border-radius: 10px;
  color: yellowgreen;
}
.search-container > input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 250px;
}
input::placeholder {
  font-family: 'Poppins';
}
@media screen and (max-width: 600px) {
  .search-container {
    scale: 0.9;
    width:200px
  }
}
@media screen and (min-width: 768px) {
  .search-container {
    width: 280px;
  }
}
/* HOT PLATE */
.hot-plate-container {
  background-color: var(--lighter-green);
  min-width: 150px;
  height: 80px;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.hot-plate-container:hover {
  scale: 1.2;
  box-shadow: 0 0 10px white;
}

.hot-plate-container :first-child {
  width: 60%;
  border-radius: 10px;
  /* border-bottom-right-radius: 50%; */
  border:solid 2px yellowgreen
}
.hot-plate-container :nth-child(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  right: 0;
  /* transform:rotate(30deg); */

  animation: hot 1s ease-in-out infinite
}
@keyframes hot {
  0%{
    /* opacity:0; */
    scale:1
  }
  50%{
    scale:1.2
  }
  100%{
    /* opacity:1; */
    scale:1
  }
}
.hot-plate-container :nth-child(3) {
  position: absolute;
  bottom: -40px;
  right: 5px;
  font-size: 20pt;
  font-family: 'Poppins';
  color:black;

}
.hot-plate-container :nth-child(3)::first-letter {
  font-size: 12pt;
  color: yellowgreen;
}
/* ******PAGE NOT FOUND****** */
.not-found-wrapper{
 display:flex;
 justify-content: center;
 /* align-items: center; */
 width:100%;
 height:700px;
 padding-top:100px;
 font-family: 'Poppins';
 text-align: left;
 background-color: rgba(0, 0, 0, 0.053);
}
.not-found-container{
 display:flex;
 justify-content: center;
 text-align: center;
 width:80%;
 border-radius: 30px;
 height:500px;
 padding:0 30px;
 background-color: white;
 box-shadow: 0 0 50px var(--dark-shadow);
}
.not-found-content{
  display:block;
  line-height: 20px;
}
.not-found-content img{
 width:300px;
}
.not-found-content button{
 padding:5px 10px;
 font-size: 15pt;
 border-radius: 10px;
 background-color: yellowgreen;
 color: white;
 font-weight: 500;
 border:none;
 cursor:pointer;
 transition: 0.3s ease-in-out;
}
.not-found-content button:hover{
 scale:1.05;
 box-sizing: 0 0 10px white;
}
.not-found-content>button>i{
  margin-right: 10px;
}
/* ********SLIDER******** */
.slider-wrapper{
  width:100%;
  display: flex;
  justify-content: left;
  padding: 20px 0;
  font-family: 'Poppins';
}
.slider-container{
  width:250px;
  background-color: white;
  padding:0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.slider-content{
  width:100%;
  display: block;
}
.slider-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
}
.slider-header span{
  color:yellowgreen;
  cursor:pointer;
}
.range-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}
.slider-range{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.range-container .input-container{
  width:100%;
  height:30px;

}
.input-container>input{
  width:40px;
  text-align: center;
  outline:none;
  border: solid 1px var(--dark-shadow);
  border-radius: 5px;
}
.input-container>input::-webkit-inner-spin-button, .input-container>input::-webkit-outer-spin-button {
  -webkit-appearance: none;
 margin:0
}
.slider-range input[type="range"]{
-webkit-appearance: none;
 color: yellowgreen;
 height: 2px;
 width:70%;
 background:var(--grey);
}
.slider-range input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height:15px;
  width:15px;
  background-color: yellowgreen;
  border-radius: 50%;
  cursor:pointer
}
.slider-range input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  box-shadow:none;
  border:none;
  background: transparent;
}
/* *******STARS******** */
.immutable-wrapper{
  width:40%;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
}
.immutable-container{
  width:max-content;
  background-color: transpa;
  padding:0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.immutable-content{
  display:flex;
  gap:5px;
}
/* ********SEARCH COMPONENT********* */

/* this class can be found in Navbar.js */
.search-query-container{
  position:relative;
  width:auto;
}
.search-query-container .search-hide{
  display:none;
}
.search-show{
  display:block;
   width:330px;
  height: auto;
  position:absolute;
  top:23px;
  left:0;
}
/* --------------- */
.query-container {
  background-color: white;
  min-width:200px;
  height:auto;
  border-radius: 10px;
  color:rgb(36, 52, 36);
  font-family: 'Poppins';
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  padding-bottom: 10px;
}
.query-container p{
  display:flex;
  align-items: center;
  font-size: 10pt;
  height: 40px;
  width:320px;
  cursor:pointer;
  padding-left:10px;
  margin:0;
  color: black;
}
.query-container p:hover{
  background-color: var(--hyper-light-dark);
}
.no-query{
  display:none
}
@media screen and (max-width: 767px) {
  .search-query-container{
  position:relative;
  width:auto;
}
.search-show{
  width:250px;
  left:0px;
}
  .query-container {
    /* scale: 0.9; */
    max-width:250px;
    background-color: white;
    height:auto;
  }
  .query-container p{
    max-width:200px;
    height: 40px;
  }
}
@media screen and (max-width: 600px){
  .search-show{
  width:225px;
  left:13px;
}
  .query-container {
    /* scale: 0.9; */
    max-width:225px;
    background-color: white;
    height:auto;
  }
    .query-container p{
    max-width:215px;
    height: 40px;
  }
}
/* .category-container{
  height: auto;
  background-color: none;
  width:auto;
  position:absolute;
  top:80px;
  left:40px;
  z-index: 10;
} */
.category-icon{
  display:flex;
  justify-content: center;
  align-items:center;
  width:50px;
  height:50px;
  background-color: yellowgreen;
  font-size: 20pt;
  color:white;
  border-radius: 50%;

}
.small-categories{
  display:flex;
  flex-direction: row;
  text-align:center;
  width:100%;
  gap:1.5rem;
  padding:20px 0;
  background-color:white;
  box-shadow: 0 0 5px var(--dark-shadow);
  border-radius: 10px;
}
.small-categories i{
  color:var(--primaryfont)
}
/* *********LOADING********** */
.loading-wrapper{
  /* background-color: pink; */
  height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  width:100%;
  position: relative
}
.loading-wrapper::after{
  position:absolute;
  top:0;
  left:0;
  content: '';
  background-color:rgba(255, 255, 255, 0.051);
  width:500px;
  height: inherit;
  backdrop-filter: blur(4px);
  animation: loading 1s ease-in-out infinite
}
@keyframes loading {
  0%{
   background-color:rgba(255, 255, 255, 0.047)
  }
  50%{
   backdrop-filter: blur(0);
   background-color:rgba(255, 255, 255, 0.15)
  }
  100%{
   background-color:rgba(255, 255, 255, 0.09)
  }
}
.loading-container{
  width:80%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  line-height: 10px;
  color: var(--hyper-light-dark);
}
.loading-icons{
  display:flex;
  justify-content: space-between;
  margin: 0;
}
