.main-wrapper{
 display:flex;
 justify-content: center;
 /* align-items: center; */
 width:100%;
 min-height: 100vh;
 height:auto;
 padding-top:100px;
 font-family: 'Poppins';
 text-align: left;
 background-color: rgba(255, 255, 255, 0.053);
}
.main-container{
 display:flex;
 flex-direction: column;
 width:80%;
 border-radius: 30px;
 min-height: 1200px;
 height:auto;
 padding:0 30px;
 padding-bottom: 30px;
 background-color: white;
 box-shadow: 0 0 50px var(--dark-shadow);
}
.main-content{
 width:100%;
 display:flex;
 height:auto;
 padding-bottom: 30px;

}
.main-left{
 color:var(--grey);
 height:auto;
 position:relative;
 display:block;
 /* background-color: aqua */
}
.show-filter{
 display:none;
}
.category-wrapper{
 position:absolute;
 top:100px;
 left:-15px;
 width:300px;
 height:auto;
 z-index: 10;
 padding:10px 20px;
 background-color: white;
 padding-bottom: 30px;
 box-shadow: 0 0 10px var(--dark-shadow);
 border-radius: 30px;
}
.category-container{
 display:flex;
 flex-direction: column;
 gap:1rem;
}
.category-container a{
 display:flex;
 justify-content: left;
 align-items: center;
 color:var(--primaryfont);
 width:100%;
 height:30px;
 cursor: pointer;
 font-weight: 600;
 text-decoration: none;
 transition:0.3s;
 padding-left: 10px;
}
.category-container a:hover{
  background-color: var(--hyper-light-dark);
  padding-left:20px;
}
.category-container a i{
 margin-right: 10px;
}
.main-right{
 width:100%;
 height:auto;
 /* padding-top: 10px; */
 /* background-color: lightgreen; */
 margin-top: 0;
 
}
.top-menu{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height:30px;
  /* background-color: pink; */
}
.top-menu span{
 height: 100%;
 display: flex;
 align-items: center;
 width:max-content;
 padding:0 10px;
 border-left: solid 1px var(--grey);
 cursor: pointer;
}
.product-filter{
 padding:10px 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: auto;

}
.product-filter span{
 cursor:pointer;
 background-color:yellowgreen;
 border-radius: 5px;
 color:white;
 padding: 5px 10px;
 transition: 0.3s;
}
.product-filter span:hover{
  background-color:rgba(153, 204, 52, 0.697) ;
}
.dish-container{
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 gap:2rem;
}
.dish-container a{
  color:black
}
@media screen and (max-width:600px) {
 span, p{
  font-size: 10pt;
 }
 .main-container{
  width:100%;
 }
 .category-wrapper{
 width:320px;
}
}
/* SORT BY RATING */
.rating-sort{
 width:100%;
}
.rater{
 display:flex;
 align-items: center;
 justify-content: left;
 height:40px;
 gap:15px;
}
.rater input[type="radio"]{
 height:15px;
 width:15px;
 appearance: none;
 -webkit-appearance: none;
 border-radius: 50%;
 border:solid 3px white;
 outline:none;
 box-shadow: 0 0 0 1px yellowgreen;
 cursor: pointer;
}
.rater input[type="radio"]:checked{
 background-color: yellowgreen;

}
