.favourite-wrapper{
 display:flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 width:100%;
 height:auto;
 padding:100px 0;
 font-family: 'Poppins';
 text-align: left;
 background-color: rgba(0, 0, 0, 0.053);
}
.main-top-fav{
 display:block;
 justify-content: left;
 width:80%;
 line-height: 10px;
}
.favourite-container{
 display:flex;
 flex-direction: column;
 width:90%;
 border-radius: 30px;
 height:auto;
 min-height: 500px;
 background-color: white;
 box-shadow: 0 0 50px var(--dark-shadow);
 align-items: center;
 font-family: 'Poppins';
 padding-inline: 10px;
 padding-top: 10px;
 padding-bottom: 50px;
 gap: 2rem;
 text-align: left;
 
}
.favourite-content{
 width:100%;
 display:flex;
 justify-content: center;
 align-items: center;
}
.no-listed{
 margin-top: 100px;
 color:var(--primaryfont)
}
.favourite{
 display: flex;
 justify-content: center;
 width:90%;
 height:auto;

}
.fav-image{
 float:left;
 display:flex;
 align-items: center;
 margin-right: 10px;
}
.fav-image img{
 width:100px;
 height: 90px;
 border-radius: 10px;
}

.favourite-detail{
 float:right;
 line-height: 100%;
 width:65%;
 height: 100%;
}
.top-fav, .bottom-fav{
 display:flex;
 justify-content: space-between;
}
.top-fav{
 height:50%;
 display: flex;
 align-items: center;
}
.top-fav i{
 color: yellowgreen;
 font-size: 20pt;
 cursor:pointer
}
.bottom-fav{
 height:50%;
 align-items: end;
}
.bottom-fav p{
 font-weight: 600;
 color: var(--red);
 cursor:pointer
}
.price-fav{
 display:flex;
 align-items:center;
 height: 100%;
}
.price-fav h3{
 font-size: 15pt;
 
}
.price-fav h3::first-letter{
 font-size: 12pt;
 color:var(--orange)
}
.price-fav span{
 font-size: 10pt;
}
/* .favourite-content hr{
 width:60%;

} */
