.menu-wrapper{
 display:flex;
 justify-content: center;
 height:auto;
 width:100%;
 text-align: left;
 padding:20px 0px;
 font-family: 'Poppins';
 background-color: var(--background-color);
 }
.menu-wrapper > h3{
 font-family: 'Poppins';
 text-align: left;
}
.menu-container{
 width:100%;
 border-radius: 20px;
 box-shadow: 0 0 50px var(--dark-shadow);
 padding:0 30px;
 height: auto;
 background-color: white;
}
.list-container{
 display:grid;
 grid-template-columns: auto auto auto auto auto auto auto auto;
 width:100%;
 padding-bottom: 20px;
 text-align:center;
 /* background-color: aqua; */
 padding-left: 10px;
 
 /* background-color: blueviolet; */
}
.list-container a{
 display:flex;
 justify-content: center;
 align-items: center;
 color:var(--primaryfont);
 width:60px;
 height:30px;
 font-weight: 600;
 text-decoration: none;
 cursor:pointer;
}

.list-container a i{
 padding-right: 10px;
}
.food-wrapper{
 width:100%;
 height:auto;
 padding-bottom: 50px;
}
.food-container{
 width: 100%;
 height:auto;
 display:flex;
 justify-content: center;
 row-gap: 40px;
 flex-wrap: wrap;
 column-gap: 20px;
}
.food-container a{
 color:black
}
@media screen and (max-width:600px){
 .menu-container{
  padding:0 10px;
  width: 100%;
  text-align: center;
 }
 .list-container{
 display:grid;
 grid-template-columns: auto auto auto auto ;
 gap:1rem;
 font-size: 10pt;
 }
 .list-container a{
  scale:0.9;
 }
 .list-container a i{
 padding-right: 5px;
}
}
@media (max-width:1060px) {
 .list-container{
 display:grid;
 grid-template-columns: auto auto auto auto ;
 gap:1rem;
 font-size: 10pt;
 }
}