.menu-wrapper{
 display:flex;
 justify-content: center;
 height:auto;
 width:100%;
 text-align: left;
 padding:20px 0px;
 font-family: 'Poppins';
 background-color: var(--background-color);
 }
.menu-wrapper > h3{
 font-family: 'Poppins';
 text-align: left;
}
.menu-container{
 width:80%;
 border-radius: 20px;
 box-shadow: 0 0 50px var(--dark-shadow);
 padding:0 30px;
 height: auto;
}
.list-container{
 display:grid;
 grid-template-columns: auto auto auto auto auto auto auto auto;
 width:auto;
 padding-bottom: 20px;
 /* background-color: blueviolet; */
}
.list-container a{
 display:flex;
 justify-content: center;
 
 align-items: center;
 color:var(--primaryfont);
 width:60px;
 height:30px;
 font-weight: 600;
 text-decoration: none;
}
.list-container .active{
 background-color: yellowgreen;
 color:white;
 border-radius:10px;
 min-width: 60px
}
.list-container a i{
 padding-right: 10px;
}
.food-wrapper{
 width:100%;
 height:auto;
 padding-bottom: 50px;
}
.food-container{
 width: 100%;
 height:auto;
 display:flex;
 justify-content: center;
 row-gap: 40px;
 flex-wrap: wrap;

}
@media screen and (max-width:600px){
 .list-container{
 display:grid;
 grid-template-columns: auto auto auto auto ;
 gap:1rem;
 font-size: 10pt;
 }
}

@media (max-width:1060px) {
 .list-container{
 display:grid;
 grid-template-columns: auto auto auto auto ;
 gap:1rem;
 font-size: 10pt;
 }
}
@media (max-width:1366px) {
 body{
  height:unset;
 }
 .food-container{
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 50%;
 }
}