.food-content{
 position:relative;
 padding:5px 5px;
 /* background-color: white; */
 box-shadow: 0 0 5px var(--dark-shadow);
 background: linear-gradient(180deg, #ffffff,#99cd3249);
 border-radius: 10px;
 margin-right: 10px;
 height:175px;
 align-items:flex-start;
 position: relative;
 transition:0.3s;
 }
.food-content:hover{
 cursor:pointer;
 scale:1.01;
}
.food-content img{
 width:140px;
 height: 120px;
 border-radius: 10px;
}
.food-info{
 height: 25%;
 display: flex;
 align-items: top;
 flex-direction: column;
 padding:0;
 margin:0;
}
.food-info h5{
 /* position:absolute;
 left:8px;
 top:105px; */
 font-size: 9pt;
 margin-top: 0;
 margin-bottom: 0;
 /* background-color: red; */
 height:15px;


}
.star-wrap{
 /* position:absolute;
 top: 142px;
 left:15px; */
 max-width: 100%;
 position: relative;
 margin-top: 0;
 padding-left: 10px;
 /* background-color: pink; */

}
.item-price{
 /* position: static; */
 position:absolute;
 width:max-content;
 height: 20px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 text-align: right;
 right:0;
 bottom:10px;
}
.item-price h3{
 font-size: 18pt;
 font-family: arial;
}

.item-price h3::first-letter{
 color:var(--orange);
 font-size: 12pt;
 font-family: 'Poppins';
}
.fav-container{
 position:absolute;
 right: 10px;
 top:10px;
 display:flex;
 justify-content: center;
 align-items: center;
 width:25px;
 height: 25px;
 color:var(--red);
 font-size:10pt;
 background-color: white;
 border-radius: 50%;
 box-shadow: 0 0 5px var(--dark-shadow);
}
.fav-container i{
 /* margin-top: 6px;
 transform: translateX(50%); */
}
.add-item{
 position:absolute;
 color:yellowgreen;
 font-size: 30pt;
 bottom:-10px;
 transform: translateX(125%);
 transition:0.3s

}
.menu-remove-item{
 color:red;
 position:absolute;
 font-size: 30pt;
 bottom:-10px;
 transform: translateX(125%) rotate(45deg);
 transition:0.3s

}
.added-modal{
 display:none;
 position:absolute;
 top:5px;
 left:25%;
 font-size: 8pt;
 color:white;
 border:none;
 box-shadow: 0 0 5px var(--dark-shadow);
 background-color: yellowgreen;
 border-radius: 10px;
 padding:0 5px;
 height:20px;
 display:flex;
 justify-content: center;
 align-items:center;
 animation: added 0.2s ease-in-out;
}
@keyframes added {
 0%{
  display:block;
  transform:translateY(-10px)
}
 50%{
  transform:scaleX(1.2)
 }
}
/* }
@media screen and (max-width:600px) {

.food-content > img{
 width:120px;
 height: 100px;
 border-radius: 10px;
}
.food-info h5{
 position:absolute;
 left:8px;
 top:85px
}
.star-wrap{
 position:absolute;
 top: 122px;
 left:12px;
}
.add-item{
 font-size: 20pt;
 bottom:-10px;
 transform: translateX(125%);
}
.item-price{
 position:absolute;
 left:65%;
 top:95px;
}
.fav-container{
 scale:0.8;
}
.fav-container i{
 padding-top: 3px;
 padding-left:0;
}
.item-price h3{
 font-size: 18pt;
}
} */