.logo{
 width:60px;
 height:60px;
}
nav{
 display:flex;
 justify-content: center;
 align-items: center;
 width:100%;
 position:fixed;
 z-index: 100;
 overflow-x: hidden;
}
.nav-container{
 display:flex;
 align-items: center;
 justify-content: space-between;
 width:80%;
 padding:0 20px;
 border-radius: 2rem;
 background-color: rgba(153, 205, 50, 0.2);
 backdrop-filter: blur(10px);
}
.links{
 display:flex;
 gap:1.5rem;
 width:auto;
 font-family: 'Poppins';
 font-size: 12pt;
}
.links a{
  color:rgb(36, 52, 36);
  transition:.3s;
  padding:5px 10px;
  border-radius: 20px;
}
.links a:hover{
  background-color:rgba(153, 205, 50, 0.98);
  color:white;

}
.cart-icon{
 width:30px;
 height:30px;
 cursor:pointer;
 transition:.2s;
}
.cart-icon:active{
 scale:1.2;
}
.menu{
 display: none;
 width:20px;
 height:3px;
 border-radius: 2px;
 background-color: yellowgreen;
 position:relative;
 margin-left: 8px;
}
.menu::before{
 content:"";
 position:absolute;
 top:7px;
 left: 0;
 width:10px;
 height:3px;
 border-radius: 2px;
 background-color: yellowgreen;
}
.menu::after{
 content:"";
 position:absolute;
 bottom:7px;
 left: 0;
 width:20px;
 height:3px;
 border-radius: 2px;
 background-color: yellowgreen;
 transition:0.3s;
}
.menu .active::after{
  bottom:0px;
  transform: rotate(90deg);
}
@media screen and (max-width: 992px) {
  .links{
    display:none;
  }
  .menu{
    display:block;
  }
}

@media screen and (max-width:600px){
 .nav-container{
  width:100%;
  padding: 0 10px
 }
}