:root{
  --light-green:#99cd322c;
  --lighter-green:#99cd3233;
  --super-light-dark:#0000002c;
  --background-color:#0000000e;
  --dark-shadow: #00000042;
  --dark-bluey:#03071e;
  --orange:#f48c06;
  --sage:#728C69;
  --orange-red:#f95738;
  --red:#dc2f02;
  --primaryfont:#555050;
  --grey:#989898;
}
body{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
ul{
 list-style-type:none;
}